@import 'ress';
@import 'root.css';

@font-face {
  font-family: 'Open Sans';
  src: url(~@/assets/fonts/OpenSans-Regular.woff) format('woff'),
    url(~@/assets/fonts/OpenSans-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(~@/assets/fonts/OpenSans-SemiBold.woff) format('woff'),
    url(~@/assets/fonts/OpenSans-SemiBold.ttf) format('truetype');
}
